<header>
		<nav class="navbar container">
			<div class="navbar__logo">
				<a href="/">
					<img src="/assets/img/branding/logo_light_horizontal.svg" alt="logo de funkoshop" />
				</a>
			</div>

			<div class="navbar__burger-icon">
				<img class="navbar__bar" src="/assets/icons/burger-bar.svg" alt="icono de barra de busqueda" />
			</div>

			<ul class="navbar__menu">
				<li><a href="/">INICIO</a></li>
				<li><a href="/contacto">CONTACTO</a></li>
				<li><a href="/shop">SHOP</a></li>
				<li>
					<a href="/shoppingCart">
						<img src="/assets/icons/cart-icon.svg" alt="icono del carro de compras" />
					</a>
				</li>
			</ul>
		</nav>
	</header>